{% macro product_card(product) %}
<div class="col-12 col-md-4 card-group">
    <div class="card mb-3">
        <img src="static/pictures/{{ product.picture }}" width="300" height="200" class="card-img-top" alt="">
        <div class="card-body">
            <h4 class="h5 card-title">{{ product.title }}</h4>
            <p class="card-text">{{ product.description }}</p>
            <form action="{{ url_for('add_to_cart', meal_id=product.id) }}" method="post">
              <input type="submit" class="btn btn-danger" value="В корзину">
            </form>
        </div>
    </div>
</div>
{% endmacro %}


{% macro category_section(category, meals) %}
<section>
    <h3 class="my-4">{{ category }}</h3>
    <div class="row mt-4">
        {% for product in meals %}
          {{ product_card(product) }}
        {% endfor %}
    </div>
</section>
{% endmacro %}


{% macro show_all_categories(categories) %}
  {% for category, meals in categories.items() %}
    {{ category_section(category, meals) }}
  {% endfor %}
{% endmacro %}


{% macro render_field(field, for_="", fs="") %}
<div class="mt-5 form-label-group">
    {{ field.label(for_=for_, class_="text-muted") }}
    {{ field(id=for_, class_="form-control") }}
    {% for error in field.errors %}
      <div class="alert alert-danger">
          {{ error }}
      </div>
    {% endfor %}
</div>
{% endmacro %}

{% macro render_form(form) %}
  {{ form.hidden_tag() }}
  {% for field in form if field if field.widget.input_type != 'hidden' %}
    {{ render_field(field) }}
  {% endfor %}
  <div class="checkbox mb-3"></div>
  <button class="btn btn-lg btn-danger btn-block" type="submit">{{ form.button_text }}</button>
{% endmacro %}


{% macro status_badge(order) %}
  {% set color = order_status_colors[order.status]  %}
  {% set text = order_status_description[order.status]  %}
  <div class="col-3 col-lg-2 ml-5 py-2 badge badge-{{ color }} text-wrap">{{ text }}</div>
{% endmacro %}
